/* здесь используйте глобальные селекторы img, body, html и так далее*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
